body {
	
}

.book {
	background: #a9f1bc;
	border: 1px solid #666;
	width: 240px;
	min-height: 140px;
	overflow: visible;
	margin: 4px;
	padding: 4px;
	float: left;
	box-shadow: 3px 3px 3px #999;
	cursor: pointer;
}

.bookDetails {
	background: #f1a9bc;
	border: 1px solid #666;
	min-width: 240px;
	min-height: 140px;
	overflow: visible;
	margin: 4px;
	padding: 4px;
	float: left;
	box-shadow: 3px 3px 3px #999;
	cursor: pointer;
}

.book p {
	font-size: larger;
}

.bookTitle {
	font-weight: bold;
}

.bookAuthor {
	font-style: italic;
}

.slide-animate.ng-enter, .slide-animate.ng-leave {
	-webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
	-moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
	-o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
	transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
}

.slide-animate.ng-enter.ng-enter-active {
	position: absolute;
	left: 1300px;
}

.slide-animate.ng-enter {
	left: 0;
}

.slide-animate.ng-leave.ng-leave-active {
	position: absolute;
	left: -1700px;
}

.slide-animate.ng-leave {
	right: 0;
}

.visible {
	width: 400px;
	height: 90px;
	border: 1px solid #333;
	background-color: #4390AE;
	color: white;
	padding: 4px;
	margin: 4px;
}