<div ng-controller="accountsController">
	<h1>Live accounts data via a service with $http</h1>
	<table class="table">
		<caption>Accounts from REST</caption>
		<thead>
			<tr>
				<th>id</th>
				<th>number</th>
				<th>owner</th>
				<th>details</th>
			<tr>
		</thead>
		<tbody>
		
			<tr ng-repeat="account in accounts | orderBy:'accountId' "  ng-click="displayDetails(account._links[0].href)" class="clickable">
				<td><input id="{{ 'id_' + account.accountId }}" type="hidden"
					value="{{ account.data.accountId }}" />{{ account.accountId }}</td>
				<td>{{ account.accountNumber }}</td>
				<td>
					<div ng-if="account.customer.nameInsertion == null">{{
						account.customer.firstName + ' ' + account.customer.lastName }}</div>
					<div ng-if="account.customer.nameInsertion != null">{{
						account.customer.firstName + ' '+ account.customer.nameInsertion +
						' ' + account.customer.lastName }}</div>
				</td>
				<td><input id="{{ 'id_' + account.accountId }}" readonly="readonly" type="text"
					value="{{ account._links[0].href }}" /></td>
			</tr>
		</tbody>
		
	</table>
</div>