<div ng-controller="accountDetailsController">
	<h1>Live accounts data via a service with $http</h1>
	<table class="table info">
		<caption>Account Details from REST</caption>
		
			<tr><th>id</th><td><input id="{{ 'id_' + account.data.accountId }}" type="hidden"
					value="{{ account.accountId }}" />{{ account.accountId }}</td></tr>
			<tr><th>account number</th><td>{{ account.accountNumber }}</td></tr>
			<tr><th>owner</th><td>
					<div ng-if="account.data.customer.nameInsertion == null">{{
						account.customer.firstName + ' ' + account.customer.lastName }}</div>
					<div ng-if="account.data.customer.nameInsertion != null">{{
						account.customer.firstName + ' '+ account.customer.nameInsertion +
						' ' + account.customer.lastName }}</div>
				</td></tr>
			<tr><th>balance</th><td>{{ account.balance | currency:"&euro;" }}</td></tr>
			<tr><th>credit limit</th><td>{{ account.creditLimit | currency:"&euro;" }}</td></tr>
		
	</table>
</div>