<div ng-controller="loginController">
	<form role="form" ng-submit="login()">
	<div class="form-group">
		<label for="username">Username:</label> <input type="text"
			class="form-control" id="username" name="username" ng-model="userName"/>
	</div>
	<div class="form-group">
		<label for="password">Password:</label> <input type="password"
			class="form-control" id="password" name="password" ng-model="password"/>
	</div>
	<button type="button" class="btn btn-primary" ng-click="login()">Submit</button>
</form>
</div>

