<div ng-controller="stubbedAccountsController">
	<h1>Stubbed accounts data via a service with local accounts array</h1>
			<table class="table info">
				<caption>Stubbed accounts</caption>
				<thead>
					<tr>
						<th>id</th>
						<th>number</th>
						<th>owner</th>
						<th>balance</th>
					<tr>
				</thead>
				<tbody>
					<tr ng-repeat="account in stubbedAccounts | orderBy:'accountId' " ng-click="displayDetails()">
						<td>{{ account.accountId }}</td>
						<td>{{ account.accountNumber }}</td>
						<td>
							<div ng-if="account.customer.nameInsertion == null">{{
								account.customer.firstName + ' ' + account.customer.lastName }}</div>
							<div ng-if="account.customer.nameInsertion != null">{{
								account.customer.firstName + ' '+ account.customer.nameInsertion
								+ ' ' + account.customer.lastName }}</div>
						</td>
						<td>{{ account.balance | currency:"&euro;" }}</td>
					</tr>
				</tbody>
			</table>
		</div>