<!DOCTYPE html>
<!-- Voorbeeld van meerdere controllers in 1 app. Met aparte js-bestanden en een bootstrapper app.js -->
<!-- 1. Definieer een modulenaam in HTML -->
<html ng-app="myApp">
<head>
	<title>Angular JS Template</title>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<link href="css/bootstrap.css" rel="stylesheet" />
	<link href="css/bootstrap-theme.css" rel="stylesheet" />
	<link href="css/styles.css" rel="stylesheet" />
	<!-- Scripts below here -->
	<script src="js/vendor/angular-1.4.3/angular.min.js"></script>
	<script src="js/vendor/angular-1.4.3/angular-route.min.js"></script>
	<!-- Custom Scripts -->
	<script src="js/ng_app.js"></script>
	<script src="js/ng_book_factory.js"></script>
	<script src="js/ng_book_controller.js"></script>
	<script src="js/ng_rest_api_factory.js"></script>
	<script src="js/ng_accounts_controller.js"></script>
	<script src="js/ng_account_details_controller.js"></script>
	<script src="js/ng_stubbed_accounts_factory.js"></script>
	
	<script src="js/ng_stubbed_accounts_controller.js"></script>
	<script src="js/ng_credentials_factory.js"></script>
	<script src="js/ng_login_controller.js"></script>
</head>
<body>
	<div class="container">
		<a href="#/login">login</a>| <a href="" ng-show="authenticated"
			ng-click="logout()">logout</a>| <a href="#/live-accounts">Live
			accounts </a>| <a href="#/stubbed-accounts">Stubbed accounts </a>| <a
			href="#/books">Books</a>
		<!-- De view waarin de losse partials/html-bestanden geinjecteerd worden -->
		<div ng-view></div>
	</div>


</body>
</html>
